__pycache__/
*.py[cod]
*.py~
*/__pycache__/
*.log

venv/
env/
uploads/
**/migrations/

.idea/
.vscode/

.env
*.env

frontend/
node_modules/
dist/
build/

copy_flask_admin_static.sh
**/**/celerybeat-schedule.dat
**/**/celerybeat-schedule.bak
**/**/celerybeat-schedule.dir
**/**/celerybeat-schedule
media/**

.DS_Store
Thumbs.db
